.profile-banner {
    background-image: url("../assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-icon{
    position: relative;
    right: 50px;
  }
  .profile-details{
    position: relative;
    top: 50px;
  }
  .setting-icon {
    position: relative;
    left: 50px;
  }
  .menu-icon,
  .setting-icon {
    width: 25px;
    height: 25px;
  }
  .profile-pic {
    border-radius: 50%;
    width: 150px;
    padding: 6px;
    background-color: #fff;
  }
  
  .profile-header {
    display: flex;
    justify-content: space-between;
  }
  .profile-box  {
    background-color: #ff574a;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 40px 90px;
    width: 250px;
    height: 367px;
  }
  
  .social-column {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .social-media img {
    width: 20px;
    cursor: pointer;
  }
  